:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 77px;
  z-index: 1;
}

.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 77px;
  transition: height .2s ease-in-out;
  &_collapse {
    height: 52px;
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 77px;
  max-width: 1010px;
  width: 100%;
  padding: 26px 40px;
  transition: height .2s ease-in-out;
  &_collapse {
    height: 52px;
    padding: 0 40px;
  }
  &__left {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; // background-color: yellowgreen;
  }
  &__right {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; // background-color: salmon;
  }
  &__searchbar {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; // background-color: bisque;
  }
}

.nav-logo {
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  &__img {
    // background-color: bisque;
    flex-grow: 1;
    background-image: url("../../../assets/sprite.png");
    background-position: -326px -338px;
    background-size: 438px 426px;
    position: absolute;
    width: 31px;
    height: 31px;
    transition: opacity .2s ease-in-out;
    opacity: 0;
    &_collapse {
      opacity: 1;
    }
  }
  &__text {
    // background-color: bisque;
    flex-grow: 1;
    background-image: url("../../../assets/sprite.png");
    background-size: 438px 426px;
    background-position: -93px -149px;
    max-width: 176px;
    width: 100%;
    height: 35px;
    transition: opacity .2s ease-in-out;
    opacity: 1;
    &_collapse {
      opacity: 0;
    }
  }
}

.nav-searchbar {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__input {
    width: 215px;
    height: 28px;
    padding-left: 90px;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    outline: 0;
    box-sizing: border-box;
    background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-128.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 72px 6px;
    background-color: #fafafa;
    transition: all 0.1s ease-in-out;
    &:focus {
      padding-left: 16px;
      background-position: 0;
      background-color: unset;
    }
  }
}

.nav-buttons {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  &__explore {
    background-image: url("../../../assets/explore.png");
    background-size: auto 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-left: 30px;
  }
  &__activity {
    background-image: url("../../../assets/activity.png");
    background-size: auto 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-left: 30px;
  }
  &__profile {
    background-image: url("../../../assets/profile.png");
    background-size: auto 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-left: 30px;
  }
}

@media (max-width: 502px) {
  .nav-searchbar {
    display: none;
  }
}
