<nav class="nav-wrapper">
  <div class="nav-container">
    <div class="nav-container__left nav-logo">
      <div class="nav-logo__img"></div>
      <div class="nav-logo__text"></div>
    </div>
    <div class="nav-container__searchbar nav-searchbar">
      <input class="nav-searchbar__input" type="text" placeholder="Search" />
    </div>
    <div class="nav-container__right nav-buttons">
      <div class="nav-buttons__explore"></div>
      <div class="nav-buttons__activity"></div>
      <div class="nav-buttons__profile"></div>
    </div>
  </div>
</nav>
