:host {
  max-width: 293px;
  position: relative;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 30px;
  padding: 0; // background-color: silver;
}

.timeline-stories-container {
  // background-color: olivedrab;
  height: 100vh;
  padding: 0;
  max-width: 293px;
  position: absolute;
  width: 100%;
  flex-direction: column;
  &_fixed {
    position: fixed;
    top: 78px;
  }
}

.timeline-hr {
  border: 0;
  padding: 0;
  border-top: 1px solid #efefef;
  height: 1px;
  margin: 0 0 12px;
  width: 100%;
}

.stories-container {
  flex-direction: column;
  &-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    &__left {
      color: #999;
      font-size: 14px;
      font-weight: 600;
    }
    &__right {
      color: #262626;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.stories-footer {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    li {
      display: inline-block;
      color: #c7c7c7;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      text-transform: capitalize;
      &::after {
        content: "\00B7";
        margin: 0 .25em;
      }
    }
  }
}

.stories-copyright {
  color: #c7c7c7;
  font-size: 11px;
  font-weight: 400;
}
