<header class="card-header">
  <div class="card-user-img">
    <img class="card-user-img__element" src="{{mediaCardInputData.user.profile_picture}}">
  </div>
  <div class="card-user-name">
    <span class="card-user-name__text">{{mediaCardInputData.user.username}}</span>
  </div>
</header>
<app-carousel [carouselInputFunction]="carouselOutputData"></app-carousel>
<div class="card-footer">
  <div class="card-footer__icons">
    <div class="card-footer__icons-left">
      <app-multi-button #like [buttonTypeParameters]="buttonsStyle.like" (click)='like.buttonToggler("like")'></app-multi-button>
      <app-multi-button [buttonTypeParameters]="buttonsStyle.comment" (click)='textarea.focus()'></app-multi-button>
    </div>
    <div class="card-footer__icons-right">
        <app-multi-button #save [buttonTypeParameters]="buttonsStyle.save" (click)='save.buttonToggler("save")'></app-multi-button>
    </div>
  </div>
  <div class="card-footer__likes">{{mediaCardInputData.likes.count}} отметок "Нравится"</div>
  <div class="card-footer__author"><span><a href="">{{mediaCardInputData.caption.from.username}}</a>{{mediaCardInputData.caption.text}}</span></div>
  <div class="card-footer__time">{{getTimeDifference()}}</div>
  <div class="card-footer__addcomment">
      <textarea #textarea placeholder="Добавьте комментарий..."></textarea>
  </div>
</div>
