:host {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #efefef;
  min-height: 60px;
  padding: 16px;
}

.card-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ED4956;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__element {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.card-user-name {
  &__text {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }
}

.card-footer {
  padding: 0 16px;
  flex-direction: column;
  &__icons {
    flex-direction: row;
    flex-grow: 1;
    margin-top: 4px;
    &-left {
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 0;
      justify-content: flex-start;
      height: 40px;
      margin-left: -8px;
    }
    &-right {
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 0;
      justify-content: flex-end;
      height: 40px;
    }
  }
  &__likes {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    justify-content: flex-start;
    margin-bottom: 8px;
  }
  &__author {
    font-size: 14px;
    color: #262626;
    margin-bottom: 4px;
    justify-content: flex-start;
    align-items: baseline;
    a {
      display: inline;
      font-weight: 600;
      vertical-align: baseline;
      margin-right: 5px;
    }
    span {
      display: inline;
      font-weight: 400;
      vertical-align: baseline;
    }
  }
  &__time {
    justify-content: flex-start;
    color: #999;
    margin-bottom: 5px;
    font-size: 10px;
    letter-spacing: .2px;
    text-transform: uppercase;
  }
  &__addcomment {
    padding-right: 26px;
    margin-top: 4px;
    border-top: 1px solid #efefef;
    color: #999;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    justify-content: center;
    justify-content: flex-start;
    padding: 16px 0;
    textarea {
      display: flex;
      flex-grow: 1;
      background: 0 0;
      border: 0;
      color: #262626;
      font-size: inherit;
      height: 18px;
      max-height: 80px;
      outline: 0;
      padding: 0;
      resize: none;
    }
  }
}
